/* Navbar */
.navbar-mixe {
    background: linear-gradient(90deg, var(--pink), #c3006a);
}

.navbar-mixe .navbar-brand,
.navbar-mixe .nav-link {
    color: #fff !important;
}

.navbar-mixe .nav-link.active {
    font-weight: 700;
    text-decoration: underline;
}

.navbar-mixe .nav-link:hover {
    opacity: .9;
}

.navbar-mixe .badge {
    background: var(--green);
    color: var(--text);
}

.subnav {
    background: var(--green);
}

.subnav .nav-link {
    color: #fff !important;
    opacity: .95;
}

.subnav .nav-link:hover {
    opacity: 1;
}