/* Navbar */
.navbar-mixe {
    background: linear-gradient(90deg, var(--pink), #c3006a);
}

.navbar-mixe .navbar-brand,
.navbar-mixe .nav-link {
    color: #fff !important;
}

.navbar-mixe .nav-link.active {
    font-weight: 700;
    text-decoration: underline;
}

.navbar-mixe .nav-link:hover {
    opacity: .9;
}

.navbar-mixe .badge {
    background: var(--green);
    color: var(--text);
}

.subnav {
    background: var(--green);
}

.subnav .nav-link {
    color: #fff !important;
    opacity: .95;
}

.subnav .nav-link:hover {
    opacity: 1;
}

/* Del otro .css (Comentario temporal) */

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-brand img {
    display: block;
    height: 70px;
}

.navbar {
    background-image: url("/img/navbarBG.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 700;
}


.nav-link {
    font-size: 0.9rem;
    text-transform: uppercase;
    color: #ffffff;
}

.nav-link:hover {
    color: #E4007C;
}

.navbar-toggler {
    color: #000000;
}