.navbar {
  background-image: url("/img/navbarBG.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
    font-weight: 500;
}


.nav-link {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #ffffff;
}

.nav-link:hover {
  color: #E4007C; 
}

.navbar-toggler{
  color:#000000;

}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.navbar-brand img {
  display: block;
  height: 70px;
}